* {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

body {
  background: url("img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_container {
  background-color: white;
  margin-top: 0px;
  margin: 30px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
}

.hero_container > .page_header div {
  background-color: rgb(12, 152, 152);
  padding: 20px;
  color: white;
  font-size: 1.2rem;
}

.hero_container > .main_content > .main_text {
  font-size: 2rem;
  letter-spacing: 1px;
  color: rgb(12, 152, 152);
  margin-bottom: 30px;
}

.hero_container > .main_content > .content_text {
  font-size: 0.8rem;
  color: rgb(2, 56, 56);
  margin-bottom: 5px;
}

.hero_container > .main_content > .border_text {
  border: 1px solid rgb(12, 152, 152);
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: 15px;
  max-width: 400px;
  margin-left: 35px;
}

.button > a > button {
  padding: 5px 15px;
  border-top: 0px;
  margin-bottom: 20px;
  background-color: rgb(12, 152, 152);
  border: none;
  color: white;
  font-size: 15px;
}
